<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Cargoflash</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <!-- icons -->
    <link href="/static/cms/assets/bundles/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--bootstrap -->
    <link href="/static/cms/assets/bundles/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/assets/bundles/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="/static/cms/assets/bundles/material/material.min.css">
    <link rel="stylesheet" href="/static/cms/css/material_style.css">
    <!-- Theme Styles -->
    <link href="/static/cms/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="/static/cms/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/css/theme-color.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/static/cms/css/custom.css" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/images/Cargoflash_Favicon.png" />
    <!-- Sweet Alert -->
    <link href="/static/cms/assets/bundles/sweet-alert/sweetalert.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/cms/assets/bundles/summernote/summernote.css" rel="stylesheet"/>
</head>

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    <div class="page-wrapper">
        <!-- start header -->
        <%- include ('header.ejs') %>
        <!-- end header -->

        <!-- start page container -->
        <div class="page-container">

            <!-- start sidebar menu -->
            <%- include ('side-nav.ejs') %>
            <!-- end sidebar menu -->

            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Add hadder</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/cms/dashboard">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Add hadder</li>
                            </ol>
                        </div>
                    </div>

                    <!-- start Main content -->
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="card-head">
                                        <header>Basic Information</header>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-lg-3 p-t-20">
                                            <input type="text" name="_id" value="<%=hadder._id%>" style="display:none;">
                                            <label for="Category">Select Category</label>
                                             <select id="Category" name="category" value="<%=hadder.category%>" class="form-control input-height">
                                           
                                         <%for(var key in mainhadder){%>
                                            <option value="<%=mainhadder[key]._id%>" <%=hadder.category == mainhadder[key]._id ? 'selected':''%>><%=mainhadder[key].heading%></option>
                                            <%}%>
                                                <!-- <option value="Category1" <%=hadder.category == "Category1"? 'selected':''%>>Category1</option>
                                            <option value="Category3" <%=hadder.category == "Category3"? 'selected':''%>>Category3</option>
                                            <option value="Category2" <%=hadder.category == "Category2"? 'selected':''%>>Category2</option>
                                            <option value="Category4" <%=hadder.category == "Category4"? 'selected':''%>>Category4</option> -->
                                            </select>
                                            </div>
                                            <div class="col-lg-3 p-t-20">
                                                <label>Title</label>
                                                 <input type="text" name="title" value="<%=hadder.title%>" placeholder="Name" class="form-control input-height" id="title"/>
                                             </div>
                                            <div class="col-lg-3 p-t-20">
                                                <label>Type</label>
                                                <select id="Category" name="type" class="form-control input-height">
                                                    <option value="image"  <%=hadder.category == "image"? 'selected':''%>>image</option>
                                                    <option value="Audio"  <%=hadder.category == "Audio"? 'selected':''%>>Audio</option>
                                                    <option value="Video"  <%=hadder.category == "Video"? 'selected':''%>>Video</option>
                                                    </select>
                                        </div>
                                       
                                         <div class="col-lg-3 p-t-20">
                                            <label>Image</label>
                                            <!-- onchange="check_image_filesize(this)"  -->
                                            <input type="file" name="image" class="form-control input-height" accept="image/*"  id="image"/>
                                            <span class="error error_file" style="display: none;" id="error_file">File size too large</span>
                                            <%if(hadder && hadder.image){%>
                                                <img width="40" src="<%=hadder.image.replace('public', '/static')%>">
                                                <%}%>
                                        </div>
                                    <div class="col-lg-3 p-t-20">
                                        <label>Alt Tag</label>
                                         <input type="text" name="alt"  value="<%=hadder.alt%>" placeholder="Alt Tag" class="form-control input-height" id="title"/>
                                     </div>
                                        <!-- <div class="col-lg-3 p-t-20">
                                            <label>Url</label>
                                             <input type="text" name="url" value="" placeholder="Url" class="form-control input-height" id="url"/>
                                         </div> -->
                                         <div class="col-lg-3 p-t-20">
                                            <label>External Link</label>
                                             <input type="link" name="url" value="<%=hadder.url%>" placeholder="Link" class="form-control input-height" id="url"/>
                                         </div>
                                         <div class="col-lg-3 p-t-20">
                                            <label style="width: 100%;"> Disable/ Enable</label>
                                            <input type="checkbox"  id="switch" name="switch"
                                            class="checkbox " <%=hadder.switch == "on"?'checked':''%>/>
                                          <label for="switch" class="toggle form-control input-height">                                 
                                         </div>
                                         <!-- <div class="col-lg-3 p-t-20">
                                            <label>Home Image  (ex.-1st image - 608px ×577px , 2nd & 3rd image- 411px × 288px , 4th image -824px × 288px)</label>
                                            <input type="file" name="homebanner" class="form-control input-height" accept="image/*" />
                                            <span class="error error_file" style="display: none;" id="error_file1">File size too large</span>
                                       </div> -->
                                       <!-- <div class="col-lg-3 p-t-20">
                                        <label>hadder Image  (ex. -353px × 329px) </label>
                                        <input type="file" name="hadderimage" class="form-control input-height" accept="image/*" id="hadderimage"/>
                                        <span class="error error_file" style="display: none;" id="error_file2">File size too large</span>
                                       </div> -->
                                       <!-- <div class="col-lg-3 p-t-20">
                                        <label>hadder Details Image (ex. -150px 150px)</label>
                                        <input type="file" name="hadderdetailsimage" class="form-control input-height" accept="image/*" onchange="check_image_filesize3(this)"/>
                                        <span class="error error_file" style="display: none;" id="error_file3">File size too large</span>
                                       </div> -->
                                       <div class="col-lg-12 p-t-20">
                                        <label>Comments</label>
                                        <textarea id="description" name="comments" class="summernote form-control input-height" placeholder="Comments" rows="7" id="short_des"><%-hadder.comments%></textarea>
                                     </div>
                                     <!-- <div class="col-lg-12 p-t-20">
                                         <label>Long Description</label>
                                         <textarea id="description" name="long_des" class="summernote form-control input-height" placeholder="description" rows="7" id="long_des"></textarea>
                                      </div> -->
                                      
                                      <div class="col-lg-3 p-t-20">
                                        <label>Meta Title</label>
                                         <input type="text" name="meta_title" value="<%=hadder.meta_title%>" placeholder="Meta Title" class="form-control input-height" id="meta_title"/>
                                     </div>
                                     <div class="col-lg-3 p-t-20">
                                        <label>Meta Description</label>
                                         <input type="text" name="meta_description" value="<%=hadder.meta_description%>" placeholder="Meta Description" class="form-control input-height" id="meta_description"/>
                                     </div>
                                     <div class="col-lg-3 p-t-20">
                                        <label>Meta Keyword</label>
                                         <input type="text" name="meta_keyword" value="<%=hadder.meta_keyword%>" placeholder="Meta Keyword" class="form-control input-height" id="meta_keyword"/>
                                     </div>
                                     <div class="col-lg-3 p-t-20">
                                        <label>Date</label>
                                        <input type="date" id="Date" name="date" value="<%=hadder.date%>" class="form-control input-height">
                                     </div>
                                  
                                        <div class="col-lg-12 p-t-20 text-center">
                                            <!-- <input type="button" id="preview" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20" style="background-color: #0d747c;
                                            color: white;" value="Preview"> -->
                                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">
                                        </div>

                                        
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end Main COntent -->
                </div>
            </div>
            <!-- end page content -->

        </div>
        <!-- end page container -->

        <!-- start footer -->
        <%- include ('footer.ejs') %>
        <!-- end footer -->
    </div>
    <script src="/static/cms/assets/bundles/jquery/jquery.min.js"></script>
    <script src="/static/cms/assets/bundles/popper/popper.js"></script>
    <script src="/static/cms/assets/bundles/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/cms/assets/bundles/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/cms/assets/bundles/jquery-blockUI/jquery.blockui.min.js"></script>
    <script src="/static/cms/assets/bundles/jquery.slimscroll/jquery.slimscroll.js"></script>
    <!-- Common js-->
    <script src="/static/cms/assets/app.js"></script>
    <script src="/static/cms/assets/layout.js"></script>
    <script src="/static/cms/assets/theme-color.js"></script>
    <!-- Material -->
    <script src="/static/cms/assets/bundles/material/material.min.js"></script>
    <!-- Sweet Alert -->
    <script src="/static/cms/assets/bundles/sweet-alert/sweetalert.min.js"></script>
    <script src="/static/cms/assets/bundles/summernote/summernote.js"></script>
    <script type="text/javascript">
       $('.summernote').summernote({
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['link', 'picture']],
                ['view', ['codeview']],
            ],
            placeholder: 'Enter Page Description',
            height: 200
        });
        <%if(response =='success') { %>
            swal("Success!", "<%=msg%>", "success");
        <%} else if(response =='error') {%>
            swal("Error!", "<%=msg%>", "error");
        <%}%>
      </script>
        <script>
            function check_image_filesize(ele) {
                if(ele.files[0].size > (100 * 1024))
                {
                    document.getElementById("error_file").style.display="block";
                    ele.value = "";
                }
            }
            function check_image_filesize1(ele) {
                if(ele.files[0].size > (100 * 1024))
                {
                    document.getElementById("error_file1").style.display="block";
                    ele.value = "";
                }
            }
            function check_image_filesize2(ele) {
                if(ele.files[0].size > (100 * 1024))
                {
                    document.getElementById("error_file2").style.display="block";
                    ele.value = "";
                }
            }
            function check_image_filesize3(ele) {
                if(ele.files[0].size > (100 * 1024))
                {
                    document.getElementById("error_file3").style.display="block";
                    ele.value = "";
                }
            }
    </script>
    <script>
        $("#preview").click(function() {
            var formdata= new FormData($("form")[0]);
            // console.log(formdata);
            // for (var key of formdata.keys()) {
            //     console.log(formdata.get(key));
            // }

            if(document.getElementById("hadder-image").value == "") {
                var previous_hadder_img_url = $("#previous-hadder-image").data("url");
                if (previous_hadder_img_url) {
                    formdata.set("hadderimage_url", previous_hadder_img_url);
                }
            }

            if(document.getElementById("main-image").value == "") {
                var previous_img_url = $("#previous-image").data("url");
                if (previous_img_url) {
                    formdata.set("image_url", previous_img_url);
                }
            }

            $.ajax({
                type: "POST",
                url: '/cms/hadder/previews-save',
                async: false,
                data: formdata,
                processData: false,
                contentType: false,
                success: function(data, status, xhr) {
                    
                    var url = '/cms/hadder/preview/' + data.postResult.url;
                    
                    window.open(url);
                }
            });
        });
    </script>
</body>

</html>
